<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rg.ireminders"
    >

  <permission
      android:name="org.ireminder.permission.READ_TASKS"
      android:description="@string/permission_description_read_tasks"
      android:label="@string/permission_read_tasks"
      android:permissionGroup="android.permission-group.PERSONAL_INFO"
      android:protectionLevel="dangerous"
      >
  </permission>
  <permission
      android:name="org.ireminder.permission.WRITE_TASKS"
      android:description="@string/permission_description_write_tasks"
      android:label="@string/permission_write_tasks"
      android:permissionGroup="android.permission-group.PERSONAL_INFO"
      android:protectionLevel="dangerous"
      >
  </permission>

  <uses-permission android:name="org.ireminder.permission.READ_TASKS"/>
  <uses-permission android:name="org.ireminder.permission.WRITE_TASKS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
  </uses-permission>

  <application
      tools:replace="android:icon,android:theme"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".ui.activities.TaskListActivity"
        android:label="@string/app_name"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.activities.DetailsActivity"
        android:parentActivityName=".ui.activities.TaskListActivity"
        tools:ignore="UnusedAttribute"
        >

      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activities.TaskListActivity"
          />
    </activity>

    <receiver android:name="org.dmfs.provider.tasks.broadcast.DueAlarmBroadcastHandler">
      <intent-filter>
        <action android:name="org.dmfs.android.tasks.TASK_DUE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
      </intent-filter>
    </receiver>
    <receiver
        android:name="org.dmfs.provider.tasks.broadcast.TimeChangeBroadcastReceiver"
        android:label="@string/app_name"
        >
      <intent-filter>
        <action android:name="android.intent.action.TIME_SET"/>
      </intent-filter>
    </receiver>
    <receiver android:name="org.dmfs.provider.tasks.broadcast.AccountsChangeBroadcastReceiver">
      <intent-filter>
        <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".receivers.AlarmBroadcastReceiver">
      <intent-filter>
        <action android:name="org.dmfs.android.tasks.TASK_DUE"/>
        <data
            android:host="@string/org_dmfs_tasks_authority"
            android:mimeType="vnd.android.cursor.item/org.dmfs.tasks.tasks"
            />
      </intent-filter>
    </receiver>

    <provider
        android:name="org.dmfs.provider.tasks.TaskProvider"
        android:authorities="@string/org_dmfs_tasks_authority"
        android:exported="true"
        android:label="@string/provider_label"
        android:multiprocess="false"
        android:readPermission="org.dmfs.permission.READ_TASKS"
        android:writePermission="org.dmfs.permission.WRITE_TASKS"
        />
  </application>
</manifest>
